<h1><%= author.nimi %></h1>

<h1>Raamatud: </h1>

<ul class="book-list">
    <% if (author.RAAMATUDs.length === 0) { %>
        <li>Raamatuid ei leitud.</li>
    <% } else { %>
    <% author.RAAMATUDs.forEach(book => { %>
        <li>
            <a href="/books/<%= book.ISBN_kood %>">
                <strong><%= book.pealkiri %></strong>
            </a> –
            <%= book.aasta %> –
            <%= book.hind %>€
        </li>
    <% }) %>
    <% } %>
</ul>
