    <h1><%= book.pealkiri %></h1>
    <p><strong>Autor:</strong> <%= book.AUTORID?.nimi %></p>
    <p><strong>Kirjastus:</strong> <%= book.KIRJASTAD?.nimi %></p>
    <p><strong>ISBN:</strong> <%= book.ISBN_kood %></p>
    <p><strong>Kirjeldus:</strong> <%= book.kirjeldus || 'Puudub' %></p>

    <% if (book.pildi_fail) { %>
        <img src="/images/<%= book.pildi_fail %>" alt="Raamatu kaanepilt" style="max-width: 200px;">
    <% } else { %>
        <p>Kaanepilt puudub.</p>
    <% } %>